---
import Picture from "astro/components/Picture.astro";
import { getDataCompany } from "../../_data/company";
import type { Company } from "../../_types/company";
import { dataLink } from "./dataLinks";
import OpenMenu from "../ui/btn/OpenMenu";
import CloseMenu from "../ui/btn/CloseMenu";

const dataNav: Company = await getDataCompany();
---

<header id="header">
  <nav class="desktop">
    <Picture
      src={dataNav.brandLogo.media.url}
      alt={dataNav.brandLogo.alt.altText}
      formats={["svg", "png"]}
      fallbackFormat="svg"
      inferSize={true}
      quality={"high"}
      densities={[1.5, 2]}
    />
    <ul role="list">
      {
        dataLink.map((data) => (
          <li>
            <a href={data.link}>{data.name}</a>
          </li>
        ))
      }
    </ul>
    <div class="btn">Llamar</div>
  </nav>
  <nav class="mobile">
    <div class="mobile__head">
      <Picture
        src={dataNav.brandLogo.media.url}
        alt={dataNav.brandLogo.alt.altText}
        formats={["svg", "png"]}
        fallbackFormat="svg"
        inferSize={true}
        quality={"high"}
        densities={[1.5, 2]}
      />
      <OpenMenu client:only="react" />
    </div>
  </nav>
  <nav class="mobileActive">
    <div class="mobile__head">
      <Picture
        src={dataNav.brandLogo.media.url}
        alt={dataNav.brandLogo.alt.altText}
        formats={["svg", "png"]}
        fallbackFormat="svg"
        inferSize={true}
        quality={"high"}
        densities={[1.5, 2]}
      />
      <CloseMenu client:only="react" />
    </div>
    <ul role="list">
      {
        dataLink.map((data) => (
          <li>
            <a href={data.link}>{data.name}</a>
          </li>
        ))
      }
    </ul>
    <div class="btn">Llamar</div>
  </nav>
</header>
