---
import "../../styles/footer.css";

import { Picture } from "astro:assets";
import { dataLink } from "../nav/dataLinks";
import { getCompanyData } from "../../_data/company.data";
import GoBtn from "../ui/btn/GoBtn";

const footerData = await getCompanyData();
---

<footer id="footer">
  <ul class="listado__x4" role="list">
    <li>
      <h3>Mapa del sitio</h3>
      <ul role="list">
        {
          dataLink.map((nav) => (
            <li>
              <a href={nav.link}>{nav.name}</a>
            </li>
          ))
        }
      </ul>
    </li>
    <li class="footer__contact">
      <h3>Datos de contacto</h3>
      <a href={`tel:${footerData.contact.string_phone}`}
        >T:{footerData.contact.string_phone}</a
      >
      <a href={`mailto:${footerData.contact.string_email}`}
        >C:{footerData.contact.string_email}</a
      >
      <a href={`${footerData.contact.string_addressMapUrl}`}
        >D:{footerData.contact.string_address}</a
      >
    </li>
    <li class="footer__social">
      <h3>Síguenos</h3>
      <GoBtn hasScroll={false} goToUrl={footerData.social.string_urlFacebook}
        >Facebook</GoBtn
      >
      <GoBtn hasScroll={false} goToUrl={footerData.social.string_urlInstagram}
        >Instagram</GoBtn
      >
      <GoBtn hasScroll={false} goToUrl={footerData.social.string_urlLinkedin}
        >LinkedIn</GoBtn
      >
    </li>
    <li class="footer__logo">
      <GoBtn hasScroll={false} goToUrl="/">
        <Picture
          src={footerData.general.img_logoFooter.media.url}
          alt="background"
          formats={["svg", "png"]}
          fallbackFormat="svg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
      </GoBtn>
      <a href="/aviso-de-privacidad">Aviso de privacidad</a>
    </li>
  </ul>
  <div>
    {footerData.general.string_name} © Todos los derechos reservados | Sitio web
    creado por
    <a href="https://marker.com.mx/" target="_blank"> MARKER branding </a>
  </div>
</footer>
