---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getProductData, getProductDataBySlug } from "../../_data/product.data";
import CustomPortableText from "../../components/ui/portableText/CustomPortableText";

// getStaticPaths solo para generar las rutas
export const getStaticPaths: GetStaticPaths = async () => {
  const products = await getProductData();

  return products.map((product) => ({
    params: { slug: product.general.slug.current },
  }));
};

const slug = Astro.params.slug as string;
const productDetailPage = await getProductDataBySlug({ slug });
---

<Layout
  title={productDetailPage.seo.string_titleSeo}
  description={productDetailPage.seo.string_titleSeo}
  image={productDetailPage.seo.text_keySeo}
>
  <section class="hero">
    <h1>{productDetailPage.page.hero.string_h1}</h1>
    <CustomPortableText
      hasImg={false}
      data={productDetailPage.page.hero.block_info}
      client:only="load"
    />
    <div class="btn">{productDetailPage.page.hero.string_btn}</div>
  </section>
</Layout>
