---
import "../styles/inicio.css";

import Picture from "astro/components/Picture.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import CardProduct from "../components/ui/card/CardProduct.tsx";
import { getHomePageData } from "../_data/homePage.data.ts";
import CustomPortableText from "../components/ui/portableText/CustomPortableText.tsx";
import PopBtn from "../components/ui/btn/PopBtn";
import GoBtn from "../components/ui/btn/GoBtn";

const homePageData = await getHomePageData();
---

<Layout
  title={homePageData.seo.string_titleSeo}
  desc={homePageData.seo.text_dscSeo}
  keywords={homePageData.seo.text_keySeo}
>
  <section id="Hero">
    <div class="column__2">
      <div class="col__left">
        <h1>{homePageData.hero.string_h1}</h1>
        <CustomPortableText
          hasImg={false}
          data={homePageData.hero.block_info}
          client:only="load"
        />
        <PopBtn
          showModal={true}
          whichModal="formModal"
          text={homePageData.hero.string_btn}
          client:load
        />
      </div>
      <div class="col__right">
        <Picture
          src={homePageData.hero.img_bg.media.url}
          alt="background"
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
      </div>
    </div>
  </section>
  <section id="Intro">
    <div class="column__2">
      <div class="col__left">
        <h3>{homePageData.intro.string_h3}</h3>
        <CustomPortableText
          hasImg={false}
          data={homePageData.intro.block_info}
          client:only="load"
        />
        <GoBtn hasScroll={true} scrollTo="#Hero" client:load>
          {homePageData.intro.string_btn}
        </GoBtn>
      </div>
      <div class="col__right">
        <Picture
          src={homePageData.intro.img_1.media.url}
          alt="background"
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
        <Picture
          src={homePageData.intro.img_2.media.url}
          alt="background"
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
      </div>
    </div>
  </section>
  <section id="RecentProducts">
    <div class="column__1">
      <h3>Productos recientes</h3>
      <ul role="list" class="listado__x3">
        {
          homePageData.rProducts.arrRef_products
            .sort(
              (a, b) =>
                new Date(a.general.dateTime_publishedAt).getTime() -
                new Date(b.general.dateTime_publishedAt).getTime()
            )
            .map((data) => (
              <CardProduct
                className="card__recentProduct"
                data={data}
                from="productos"
              >
                <Picture
                  src={data.card.img_card.media.url}
                  alt="background"
                  formats={["webp", "avif"]}
                  fallbackFormat="jpeg"
                  inferSize={true}
                  quality={"high"}
                  densities={[1.5, 2]}
                />
              </CardProduct>
            ))
        }
      </ul>
    </div>
  </section>

  <Welcome />
</Layout>
