---
import "../../styles/us.css";

import Layout from "../../layouts/Layout.astro";
import { Picture } from "astro:assets";
import CustomPortableText from "../../components/ui/portableText/CustomPortableText";
import { getAboutPageData } from "../../_data/aboutPage.data";

const aboutPageData = await getAboutPageData();
---

<Layout
  title={aboutPageData.seo.string_titleSeo}
  desc={aboutPageData.seo.text_dscSeo}
  keywords={aboutPageData.seo.text_keySeo}
>
  <section id="hero">
    <div class="column__2">
      <div class="col__left">
        <h1>{aboutPageData.hero.string_h1}</h1>
        <CustomPortableText
          hasImg={false}
          data={aboutPageData.hero.block_info}
          client:only="react"
        />
        <div class="btn">{aboutPageData.hero.string_btn}</div>
      </div>
      <div class="col__right">
        <Picture
          src={aboutPageData.hero.img_hero.media.url}
          alt="background"
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
      </div>
    </div>
  </section>
  <section id="intro">
    <div class="column__2">
      <div class="col__left">
        <h3>{aboutPageData.intro.string_h3}</h3>
        <CustomPortableText
          hasImg={false}
          data={aboutPageData.intro.block_info}
          client:only="react"
        />
      </div>
      <div class="col__right">
        <Picture
          src={aboutPageData.intro.img_1.media.url}
          alt="background"
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
        <Picture
          src={aboutPageData.intro.img_2.media.url}
          alt="background"
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
      </div>
    </div>
  </section>
</Layout>
