---
import "../../styles/us.css";

import Layout from "../../layouts/Layout.astro";
import { getDataUs } from "../../_data/us";
import type { Us } from "../../_types/us";
import PortableTextCustom from "../../components/ui/PortableTextCustom";
import { Picture } from "astro:assets";

const dataUs: Us = await getDataUs();
---

<Layout title={dataUs.titleseo} desc={dataUs.descseo} keywords={dataUs.keyseo}>
  <section id="hero">
    <div class="column__2">
      <div class="col__left">
        <h1>{dataUs.heroH1}</h1>
        <PortableTextCustom data={dataUs.heroH2} client:only="react" />
        <p>{dataUs.heroP}</p>
        <div class="btn">{dataUs.heroBtn}</div>
      </div>
      <div class="col__right">
        <Picture
          src={dataUs.heroImg.media.url}
          alt={dataUs.heroImg.alt.altText}
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
      </div>
    </div>
  </section>
  <section id="intro">
    <div class="column__2">
      <div class="col__left">
        <h2>{dataUs.introH2}</h2>
        <h3>{dataUs.introH3}</h3>
        <PortableTextCustom data={dataUs.introRichText} client:only="react" />
      </div>
      <div class="col__right">
        <Picture
          src={dataUs.introImg1.media.url}
          alt={dataUs.introImg1.alt.altText}
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
        <Picture
          src={dataUs.introImg2.media.url}
          alt={dataUs.introImg2.alt.altText}
          formats={["webp", "avif"]}
          fallbackFormat="jpeg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
      </div>
    </div>
  </section>
</Layout>
