---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getPostData, getPostDataBySlug } from "../../_data/post.data";
import CustomPortableText from "../../components/ui/portableText/CustomPortableText";

// getStaticPaths solo para generar las rutas
export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getPostData();

  return posts.map((post) => ({
    params: { slug: post.general.slug.current },
  }));
};

const slug = Astro.params.slug as string;
const postDetailPage = await getPostDataBySlug({ slug });
---

<Layout
  title={postDetailPage.seo.string_titleSeo}
  description={postDetailPage.seo.text_dscSeo}
  image={postDetailPage.seo.text_keySeo}
>
  <section class="hero">
    <h1>{postDetailPage.page.hero.string_h1}</h1>
    <CustomPortableText
      hasImg={false}
      data={postDetailPage.page.hero.block_info}
      client:only="load"
    />
    <div class="btn">{postDetailPage.page.hero.string_btn}</div>
  </section>
</Layout>
